.navbar{
    
    background-color:#9c132a;
    color: white;
}
.title,.score{
    color: white;

}.jumbotron{
    
    margin-top: 70px;
    background-image: url("./antiquebg1.jpg");
    background-size: cover;
    color: black;
    font-weight: 300;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#9c132a;
    color: white;
    text-align: center;
  }
  .display-4{
      font-size: 60px;
      font-weight: 600;
      color: #9c132a;
      text-shadow: 4px 4px #000000;
  }
  .lead{
      color: black;
    font-size: 30px;
    font-weight: 400;
   
  }
  .maincontainer{
      width: 60%;
  }
  .img-thumbnail:hover{
      position: relative;
      top: -20px;
  }
  .col-3{
      widows: 100px;
      height: 250px;
      overflow: hidden;
  }
 
  .animatemydiv {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .guess{
      font-size: 30px;
      font-weight: 400;
  }
  .wrong{
      color:red;
      text-shadow: 2px 2px #000000;
  }
  .correct{
    color:green;
    text-shadow: 2px 2px #000000;
}
/* #87A3FF */